body {
  margin: auto;
  font-family: 'Manrope';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#herosection {
  background-color: #9B1419;
}

h1 {
  font-family: 'Elsie Swash Caps';
}